.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
 
 
  .demo{

    position:fixed;

    top: 0;

    left: 0;

    width:100%;

    height:100%;

    min-width: 1000px;

    z-index:-10;

    zoom: 1;

    background-color: #fff;

    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590485774317&di=2f6dcce1bbe951fa525abd5d6a8de714&imgtype=0&src=http%3A%2F%2Ft7.baidu.com%2Fit%2Fu%3D3204887199%2C3790688592%26fm%3D79%26app%3D86%26f%3DJPEG%3Fw%3D4610%26h%3D2968);

    background-repeat: no-repeat;

    background-size: cover;

    -webkit-background-size: cover;

    -o-background-size: cover;

    background-position: center 0;

}